/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
 .wp-block-ecb-blocks-vertical-stripes-grid {
	display: grid;
	grid-template-columns: 60% 40%;
	min-height: 440px;
	animation: ecbFadeIn 0.3s ease;

	.grid {
		display: grid;
		grid-template-columns: 60% 40%;

		div:last-child {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			position: relative;
			background: var(--dark-khaki);

			p {
				font: italic 100 1rem/1.47 'Montserrat', sans-serif;
				writing-mode: vertical-rl;
				text-orientation: mixed;
				color: var(--creme);
				padding: 2rem 0;
			}
		}
	}

	.content {
		display: flex;
		align-items: center;
		position: relative;
		background: var(--tan);

		div {
			position: absolute;
			padding: 2rem 3rem 3.5rem 3rem;
			right: -70px;
			margin-left: 2rem;
			max-width: 600px;
			min-width: 60%;
			background: #fff;

			h2 {
				margin-bottom: 1.5rem;
			}
		}

		.arrow-button {
			top: 8px;
		}

	}

	div > img {
		object-fit: cover;
		height: 100%;
		width: 100%;
	}

	@media only screen and (max-width: 740px) {
		grid-template-columns: 65% 35%;

		.grid {
			grid-template-columns: 1fr;

			div:last-child  {
				display: none;
			}
		}

		.content {
			div {
				position: unset;
				display: flex;
				flex-direction: column;
				justify-content: center;
				right: 0;
				bottom: 0;
				height: calc( 100% - 2rem );
				margin-left: 0;
				padding: 0 1.5rem 2rem 1.5rem;
			}
		}
	}
 }
